* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{
	width: 23.4375rem;
	height:auto;
/*	background-image: url(../img/supercar.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
}

.swiper-container{
	width: 23.4375rem;
	height: 37.6875rem;
}
.sli_1{
	width: 23.4375rem;
	height:37.6875rem;
	background-image: url(../img/supercar.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.rut{
    width: 6.125rem;
    height: 2.875rem;
    position: absolute;
    top: 4%;
}
.rut>a{
	display: block;
	width: 6.125rem;
	height: 2.875rem;
}
.sli_2{
	width: 23.4375rem;
	height:37.6875rem;
	background-image: url(../img/super_lz.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.pos{
	width: 23.4375rem;
	height:18rem;
	position: absolute;
	top: 55%;
	z-index: 1;
}
input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #f0f0f0;   
} 
input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    color: #f0f0f0;   
}   
  
input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #f0f0f0;   
}    
.inp_1{
	width: 12.5rem;
    height: 1.875rem;
    position: absolute;
    top: 2.7%;
    left: 15%;
    outline: none;
    border: none;
    background: #04101C;
    color: #f0f0f0;
    font-size: 16px;
    line-height: 1.875rem;
}
.inp_2{
	width: 12.5rem;
    height: 1.875rem;
    position: absolute;
    top: 25.7%;
    left: 15%;
    outline: none;
    border: none;
    background: #04101C;
    color: #f0f0f0;
    font-size: 16px;
    line-height: 1.875rem;
}
.inp_3{
	width: 12.5rem;
    height: 1.875rem;
    position: absolute;
    top: 48.9%;
    left: 15%;
    outline: none;
    border: none;
    background: #04101C;
    color: #f0f0f0;
    font-size: 16px;
    line-height: 1.875rem;
}
.but{
	width: 6.125rem;
    height: 2.875rem;
    display: block;
    position: absolute;
    top: 70%;
    left: 37%;
}
.non{
	width: 23.4375rem;
	height: 41.6875rem;
	background-image: url(../img/ewm.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	position: absolute;
	top: 0;
}