*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration:none;list-style-type:none;}
a {text-decoration:none;outline:none;}
input, button, select, textarea {
outline: none;
-webkit-appearance: none;
border-radius: 0;
}
body{
	width: 100%;
	height:auto;
	position: relative;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    text-decoration: none;
    color: #000;
}

.sli_1{
	width: 100%;
	height:37.6875rem;
	background-image: url(../img/1_1h.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.all{
    width: 19rem;
    height: 5.5rem;
    position: absolute;
    top: 41%;
    left: 10%;
}

.inp_1{
    width: 4.5rem;
    height: 0.9rem;
    line-height: 0.8rem;
    position: absolute;
    top: 12%;
    left: 19%;
    outline: none;
    border: none;
    background: none;
    font-size: 12px;
}

.inp_2{
    width: 4.5rem;
    height: 0.9rem;
    line-height: 0.8rem;
    position: absolute;
    top: 12%;
    left: 71%;
    outline: none;
    border: none;
    background: none;
    font-size: 12px; 
}
.p{
    width: 14.5rem;
    height: 0.9rem;
    line-height: 0.8rem;
    position: absolute;
    top: 65.1%;
    left: 19%;
    outline: none;
    border: none;
    background: none;
    font-size: 12px;
}
.a_1{
    display: block;
    width: 7.5rem;
    height: 1.9rem;
    line-height: 0.8rem;
    position: absolute;
    top: 60.1%;
    left: 35%;
    outline: none;
    border: none;
    background: none;
    font-size: 14px;
    /*background: red;*/
    z-index: 99999;
}
/*风云榜*/
.fyb{
    width: 63.5%;
    height: 8.5rem;
    position: absolute;
    top: 27.2rem;
    left: 4.6rem;
    display: flex;
    justify-content: space-between;
}

.fyb>div:nth-child(1){
	width: 30%;
	height: 8.5rem;
	position: relative;
}
.fyb>div:nth-child(2){
	width: 30%;
	height: 8.5rem;
	position: relative;
}
.fyb>div:nth-child(3){
	width: 30%;
	height: 8.5rem;
	position: relative;
}
.img_2{
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    position: absolute;
    top: 19.5%;
    left: 2%;
    border-radius: 50%;
    border:3px solid #103796;
}
.p_4{
    width: 4.25rem;
    height: 1.125rem;
    text-align: center;
    line-height: 1.125rem;
    position: absolute;
    top: 70.4%;
    left: 0%;
    color: #D12038;
    font-size: 14px;
}
.p_5{
    width: 4.25rem;
    height: 1.125rem;
    text-align: center;
    line-height: 1.125rem;
    position: absolute;
    top: 82.4%;
    left: 0%;
    color: #D12038;
    font-size: 14px;
}
